*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(28, 28, 28);
    font-family: "Rubik",sans-serif;
}
li,a,button{
    color: white;
}
.logo{
    width: 200px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:30px 10%;
}
.nav-links{
    list-style: none;
}
.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav-links li a{
    transition: all 0.3s ease 0s;
}
.nav-links li a:hover{
    color:#167c50;
}
button{
    padding: 9px 25px;
    background-color:#167c50 ;
    border:none;
    border-radius: 25px;
}